<!doctype html>

<html>
<head>
   <title><%- data.title %></title>
   <meta name="viewport"content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
   <meta name="HandheldFriendly" content="true" />
   <meta name="author" content="Fptbb">
   <style type="text/css">body,html{height:100%;margin:0;overflow: hidden;}#wrapper{min-height:100%}.vjs-contextmenu-ui-menu{position:relative;z-index:1000}.vjs-contextmenu-ui-menu .vjs-menu-content{background-color:#ff0;border-radius:.3em;padding:.25em}.vjs-contextmenu-ui-menu .vjs-menu-item{border-radius:.3em;cursor:pointer;margin:0 0 1px;padding:.5em 1em;font-size:1em;line-height:1.2;text-transform:none}.vjs-contextmenu-ui-menu .vjs-menu-item:active,.vjs-contextmenu-ui-menu .vjs-menu-item:hover{background-color:#ff0;text-shadow:0 0 1em #fff}.fp_hd_source{ color:yellow !important;}</style>
   <!--[if lte IE 6]><style type="text/css">#container{height:100%;}</style><![endif]-->
</head>

<body>
	<script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>
		<video id="video-id">
         <%if(data.locationsd != ""){%>
            <source src="<%-data.locationsd%>" title='720p' type="video/mp4" />
         <%}%>
         <%if(data.location != ""){%>
            <source src="<%-data.location%>" title='360p' type="video/mp4" />
         <%}%>
		</video>
		
	
	<script>
      window.data={
         nome:"<%-data.title%>",
         cate:"<%-data.category_id%>",
         epi:"<%-data.video_id%>",
         cp1:"<%-crypt%>",
         cp2:"<%-crypt2%>",
         post: function (e, t, o) {
            if(typeof o === "undefined") {
              o = "post";
            }
            var a = document.createElement('form')
            ;(a.method = o), (a.action = e)
            for (var e in t)
              if (t.hasOwnProperty(e)) {
                var o = document.createElement('input')
                ;(o.type = 'hidden'), (o.name = e), (o.value = t[e]), a.appendChild(o)
              }
            document.body.appendChild(a), a.submit()
          },
      }
      window.options = {
         inicio: function(){
            window.location.href = 'https://robr.page/anime'
         },
         anime: function(){
            window.location.href = 'https://robr.page/anime/' + window.data.cp1
         },
         proximo: function(){
            window.data.post('https://robr.page/anime', {
               ava: 1,
               nome: window.data.nome,
               cate: window.data.cate,
               epi: window.data.epi,
               beta: 'true'
            })
         },
         anterior: function(){
            window.data.post('https://robr.page/anime', {
               ava: -1,
               nome: window.data.nome,
               cate: window.data.cate,
               epi: window.data.epi,
               beta: 'true'
            })
         },
         bug: function(){
            window.data.post('https://robr.page/anime', {
               rep: window.data.cp2
            })
         },
         discord: function(){
            window.location.href = 'https://robr.page/disc'
         }
      }
		var myFP = fluidPlayer('video-id',	{
         "layoutControls": {
            "title": '<%- data.title %>',
            "htmlOnPauseBlock": {
               "html": "<div class='vjs-contextmenu-ui-menu'><h1 align='center'><b>Pausado</b></h1><div class='vjs-menu-content'><button class='vjs-menu-item' onClick='window.options.inicio()'>🏠 Pagina inicial</button><button class='vjs-menu-item' onClick='window.options.anime()'>📑 Pagina do Anime</button><button class='vjs-menu-item' onClick='window.options.proximo()'>⏩ Proximo Episodio</button><button class='vjs-menu-item' onClick='window.options.anterior()'>⏪ Episodio Anterior</button><button class='vjs-menu-item' onClick='window.options.bug()'>🐞 Denunciar Falha</button><button class='vjs-menu-item' onClick='window.options.discord()'>#️⃣ Nosso Discord</button></div></div>"
            },
            "autoPlay": true,
            "preload": true,
            "mute": false,
            "playbackRateEnabled": true,
            "allowDownload": false,
            "fillToContainer": true,
            "primaryColor": "#ffff00",
         },
      })
      myFP.on('ended', function(){ window.options.proximo() });
	</script>
</body>
</html>